.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 199px}
.u-section-1 .u-text-1 {width: 592px; margin: 81px 274px 0}
.u-section-1 .u-text-2 {width: 333px; margin: 0 404px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 174px; margin-right: 174px}
.u-section-1 .u-text-2 {width: 267px; margin-left: 304px; margin-right: 304px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 64px; margin-right: 64px}
.u-section-1 .u-text-2 {margin-left: 227px; margin-right: 227px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 146px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0; width: 540px}
.u-section-1 .u-text-2 {margin-left: 137px; margin-right: 137px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {margin-left: 37px; margin-right: 37px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 1494px}
.u-section-2 .u-gallery-1 {width: 1140px; height: 513px; grid-template-columns: auto; margin: 100px 0 0}
.u-section-2 .u-back-slide-1 {background-image: url("images/full_res_9.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-group-1 {min-height: 881px; margin: 0 auto 0 0}
.u-section-2 .u-container-layout-1 {padding: 30px 50px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-2 {margin: 12px 0 0}
.u-section-2 .u-text-3 {font-weight: 700; margin: 12px auto 0 0}
.u-section-2 .u-text-4 {font-size: 1.125rem; letter-spacing: 0; background-image: none; margin: 27px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 2px}
.u-section-2 .u-gallery-1 {width: 940px; height: 423px; grid-template-columns: repeat(1, auto)}
.u-section-2 .u-group-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 948px}
.u-section-2 .u-gallery-1 {width: 720px; height: 324px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1852px}
.u-section-2 .u-gallery-1 {width: 540px; height: 243px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1072px}
.u-section-2 .u-gallery-1 {width: 340px; height: 153px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 379px}
.u-section-3 .u-group-1 {min-height: 379px; margin: 0 auto 0 0}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {margin: 0 auto 0 0}
.u-section-3 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 30px 0 0}
.u-section-3 .u-text-2 {margin: -36px auto 0 84px}
.u-section-3 .u-text-3 {margin: -21px 0 0 1030px}
.u-section-3 .u-text-4 {margin: -49px auto 0 84px}
.u-section-3 .u-text-5 {margin: 41px 0 0 84px}
.u-section-3 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 15px auto 0 84px}
.u-section-3 .u-text-6 {margin: -36px auto 0 173px}
.u-section-3 .u-text-7 {margin: -21px 0 0 1030px}
.u-section-3 .u-text-8 {margin: -49px auto 0 163px}
.u-section-3 .u-text-9 {margin: 41px 0 0 163px} 

@media (max-width: 1199px){ .u-section-3 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-text-2 {margin-left: 0}
.u-section-3 .u-text-3 {margin-left: 830px}
.u-section-3 .u-text-4 {margin-left: 0}
.u-section-3 .u-text-5 {margin-left: 0}
.u-section-3 .u-text-6 {width: 80px; margin-left: 0}
.u-section-3 .u-text-7 {width: 50px; margin-left: 830px}
.u-section-3 .u-text-8 {width: 103px; margin-left: 0}
.u-section-3 .u-text-9 {width: 880px; margin-left: 0} }

@media (max-width: 991px){ .u-section-3 .u-text-3 {margin-left: 610px}
.u-section-3 .u-text-7 {margin-left: 610px}
.u-section-3 .u-text-9 {width: 660px} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-3 {margin-left: 470px}
.u-section-3 .u-text-7 {margin-left: 470px}
.u-section-3 .u-text-9 {width: 520px} }

@media (max-width: 575px){ .u-section-3 .u-text-3 {margin-left: 270px}
.u-section-3 .u-text-7 {margin-left: 270px}
.u-section-3 .u-text-9 {width: 320px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {margin: 38px auto 0}
.u-section-4 .u-form-1 {height: 313px; width: 570px; margin: 27px auto 0}
.u-section-4 .u-btn-1 {background-image: none; border-style: none}
.u-section-4 .u-btn-2 {background-image: none; animation-duration: 2000ms; border-style: none; margin: 27px auto 0 295px; padding: 0}
.u-section-4 .u-btn-3 {background-image: none; animation-duration: 2000ms; border-style: none; margin: -26px 295px 41px auto; padding: 0} 

@media (max-width: 1199px){ .u-section-4 .u-btn-2 {margin-left: 95px}
.u-section-4 .u-btn-3 {margin-right: 95px} }

@media (max-width: 991px){ .u-section-4 .u-btn-2 {margin-left: 0}
.u-section-4 .u-btn-3 {margin-right: 0} }

@media (max-width: 767px){ .u-section-4 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-form-1 {width: 340px} }