{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    {% include 'head.html' %}

    <link rel="stylesheet" href="{% static 'Blog-posts.css' %}" media="screen">

  </head>

  <body class="u-body u-overlap">

    {% include 'header.html' %}

    <section class="u-align-center u-black u-clearfix u-section-1" id="carousel_9b97">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-heading-font u-text u-title u-text-1">Blog posts</h1>
        <h2 class="u-align-center u-heading-font u-subtitle u-text u-text-palette-3-base u-text-2">_______________</h2>
      </div>
    </section>

    <section class="u-black u-clearfix u-section-2" id="sec-69ec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-gallery u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-1" data-image-width="1280" data-image-height="865"></div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
        <div class="u-container-style u-expanded-width u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-text u-text-default u-text-palette-4-base u-text-1">photo, design</p>
            <h1 class="u-text u-text-2">
              <a class="blog-link" href="/post" style="">Vaccines Against H.I.V., Malaria and Tuberculosis
                Unlikely, Study Says</a>
            </h1>
            <p class="u-text u-text-grey-25 u-text-3">
              <a class="blog-link" href="/post">In varius varius justo, eget ultrices mauris rhoncus non. Morbi
                tristique, mauris eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam
                risus diam, porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id ...</a>
            </p>
            <p class="u-text u-text-default u-text-grey-15 u-text-4">
              <a href="#">George Michael, March 2, 2018</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-3" id="carousel_05c4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-gallery u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-1" data-image-width="1280" data-image-height="806"></div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
        <div class="u-container-style u-expanded-width u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-text u-text-default u-text-palette-4-base u-text-1">photo, design</p>
            <h1 class="u-text u-text-2">
              <a class="blog-link" href="/post" style="">Investing in Consumer Loans</a>
            </h1>
            <p class="u-text u-text-grey-25 u-text-3">
              <a href="/post">In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris
                eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam risus diam,
                porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id ...</a>
            </p>
            <p class="u-text u-text-default u-text-grey-15 u-text-4">
              <a href="#">George Michael, March 2, 2018</a>
            </p>
            <p class="u-text u-text-black u-text-default u-text-5">
              <a class="blog-link" href="/post">George Michael, March 2, 2018</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-4" id="carousel_9399">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-gallery u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-1" data-image-width="150" data-image-height="100"></div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
        <div class="u-container-style u-expanded-width u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-text u-text-default u-text-palette-4-base u-text-1">photo, design</p>
            <h1 class="u-text u-text-2">
              <a class="blog-link" href="/post" style="">Indicate the current page’s location within a
                navigational hierarchy that automatically adds separators via CSS.</a>
            </h1>
            <p class="u-text u-text-grey-25 u-text-3">
              <a href="/post">In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris
                eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam risus diam,
                porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id ...</a>
            </p>
            <p class="u-text u-text-default u-text-grey-15 u-text-4">
              <a href="#">George Michael, March 2, 2018</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="u-black u-clearfix u-section-5" id="sec-1874">
      {% include 'pagination-1.html' %}
    </section>

    {% include 'footer.html' %}

    {% include 'backToTop.html' %}
        
    {% include 'scripts.html' %}

  </body>

</html>