{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    {% include 'head.html' %}

    <link rel="stylesheet" href="{% static 'css/Contact.css' %}" media="screen">

  </head>

  <body class="u-body u-overlap">

    {% include 'header.html' %}

    <section class="u-align-center u-black u-clearfix u-section-1" id="carousel_9b97">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-heading-font u-text u-title u-text-1">Contact</h1>
        <h2 class="u-heading-font u-subtitle u-text u-text-default u-text-palette-3-base u-text-2">_______________</h2>
        <div class="u-form u-form-1">
          <form action="https://formspree.io/mknvyvjb" method="POST"
            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom"
            name="form">
            <div class="u-form-group u-form-name">
              <label for="name-59b1" class="u-form-control-hidden u-label">Nazwa</label>
              <input type="text" placeholder="Wprowadź swoje imię" id="name-59b1" name="name"
                class="u-border-1 u-border-palette-5-base u-input u-input-round" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-59b1" class="u-form-control-hidden u-label">E-mail</label>
              <input type="email" placeholder="Wprowadź prawidłowy adres e-mail" id="email-59b1" name="email"
                class="u-border-1 u-border-palette-5-base u-input u-input-round" required="">
            </div>
            <div class="u-form-group u-form-message">
              <label for="message-59b1" class="u-form-control-hidden u-label"></label>
              <textarea placeholder="Wprowadź swoją wiadomość" rows="4" cols="50" id="message-59b1" name="message"
                class="u-border-1 u-border-palette-5-base u-input u-input-round" required="" maxlength="200"></textarea>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#"
                class="u-border-radius-10 u-btn u-btn-round u-btn-submit u-button-style u-palette-3-base u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Dziękujemy! Twoja wiadomość została wysłana. </div>
            <div class="u-form-send-error u-form-send-message"> Nie można wysłać wiadomości. Proszę poprawić błędy i
              spróbować ponownie. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>


    {% include 'footer.html' %}

    {% include 'backToTop.html' %}
        
    {% include 'scripts.html' %}

  </body>

</html>