{% load static %}

<!-- Page Footer-->
<footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-6e36">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-60">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                  <div class="u-border-1 u-border-palette-3-base u-container-layout u-valign-top u-container-layout-1">
                    <h5 class="u-align-center u-text u-text-default u-text-1">
                      <a href="#">EMAIL</a>
                    </h5>
                    <p class="u-align-center u-large-text u-text u-text-font u-text-variant u-text-2">
                      <a href="mailto:chrusrys@gmail.com">chrusrys@gmail.com<br>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                  <div class="u-border-1 u-border-palette-3-base u-container-layout u-valign-top u-container-layout-2">
                    <h5 class="u-text u-text-default u-text-3">
                      <a href="#"></a>ADDRESS
                    </h5>
                    <p class="u-align-center u-large-text u-text u-text-font u-text-variant u-text-4">
                      <a href="https://www.google.pl/maps/place/Szpak%C3%B3w+22,+41-205+Sosnowiec/@50.2949556,19.137251,17z/data=!3m1!4b1!4m5!3m4!1s0x4716da85a0416efb:0x86d9fa2b7d3b6350!8m2!3d50.2949522!4d19.139445?hl=pl"
                        target="_blank">Szpaków 22<br>41-219 Sosnowiec, Poland
                      </a>
                    </p>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                  <div class="u-border-1 u-border-palette-3-base u-container-layout u-valign-top u-container-layout-3">
                    <h5 class="u-text u-text-default u-text-5">
                      <a href="#">P</a>HONE
                    </h5>
                    <p class="u-large-text u-text u-text-default u-text-variant u-text-6">
                      <a href="#">+48 546 552 025</a>
                      <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="u-align-center u-small-text u-text u-text-variant u-text-7">myDesigner 2020</p>
    </div>
  </footer>