{% load static %}

<!-- Page Head-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="designer, web, www, deweloper, UX, UI, design, photo">
    <meta name="description" content="my portfolio">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>myDesigner</title>
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
    <meta property="og:description" content="my portfolio">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">

    <link rel="stylesheet" href="{% static 'nicepage.css' %}" media="screen">
    <link rel="icon" href="{% static 'images/favicon.gif' %}">
    <link id="u-theme-google-font" rel="stylesheet" href="{% static 'fonts.css' %}">


    




</head>