{% load static %}

<header class="u-align-left u-clearfix u-header u-sticky u-header" id="sec-f7ca">
  <nav class="u-menu u-menu-dropdown u-menu-open-right u-offcanvas u-offcanvas-shift u-menu-1"
    data-responsive-from="XL">
    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0;">
      <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
        href="#" style="padding: 4px 32px; font-size: calc(1em + 8px);">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </symbol>
          </defs>
        </svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-nav u-unstyled u-nav-1">
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
            href="index.html" style="padding: 10px 20px;">Home</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
            href="Portfolio.html" style="padding: 10px 20px;">Portfolio</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
            href="Blog-posts.html" style="padding: 10px 20px;">Blog posts</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
            href="Galery.html" style="padding: 10px 20px;">Galery</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-grey-15 u-text-hover-palette-3-base u-text-white"
            href="Contact.html" style="padding: 10px 20px;">Contact</a>
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-menu-close"></div>
        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="index.html"
              style="padding: 10px 20px;">Home</a>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Portfolio.html"
              style="padding: 10px 20px;">Portfolio</a>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Blog-posts.html"
              style="padding: 10px 20px;">Blog posts</a>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Galery.html"
              style="padding: 10px 20px;">Galery</a>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html"
              style="padding: 10px 20px;">Contact</a>
          </li>
        </ul>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
  <h2 class="u-heading-font u-subtitle u-text u-text-white u-text-1">
    <a href="index.html">&nbsp; &nbsp; myDesigner</a>
  </h2>
</header>