{% load static %}


<div class="u-clearfix u-sheet u-sheet-1">
  <ul class="responsive-style1 u-pagination u-spacing-0 u-unstyled u-pagination-1" data-animation-name="zoomIn"
    data-animation-duration="1500" data-animation-delay="0" data-animation-direction="">
    <li class="prev u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〈</a>
    </li>
    <li class="active u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">1</a>
    </li>
    <li class="u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">2</a>
    </li>
    <li class="u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">3</a>
    </li>
    <li class="u-nav-item u-pagination-item u-pagination-separator">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">...</a>
    </li>
    <li class="u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">8</a>
    </li>
    <li class="next u-nav-item u-pagination-item">
      <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〉</a>
    </li>
  </ul>
</div>
