{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  {% include 'head.html' %}

  <link rel="stylesheet" href="{% static 'css/Single-blog.css' %}" media="screen">

</head>

<body class="u-body u-overlap">

  {% include 'header.html' %}

  <section class="u-align-center u-black u-clearfix u-section-1" id="carousel_9b97">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-heading-font u-text u-title u-text-1">Single blog</h1>
      <h2 class="u-align-center u-heading-font u-subtitle u-text u-text-palette-3-base u-text-2">_______________</h2>
    </div>
  </section>

  <section class="u-black u-clearfix u-section-2" id="sec-69ec">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-gallery u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide u-back-slide-1" style="background-image: url('{{ post.thumbnail.url }}')"
            data-image-width="1280" data-image-height="865"></div>
          <div class="u-over-slide u-shading u-over-slide-1">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
      </div>
      <div class="u-container-style u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <p class="u-text u-text-default u-text-palette-4-base u-text-1">
            {% for cat in post.categories.all %}
            <a href="#">{{ cat }} | </a>
            {% endfor %}
          </p>          
          <h1 class="u-text u-text-2">
            <a class="blog-link" href="#" style="">
              {{ post.title }}
            </a>
          </h1>
          <p class="u-text u-text-default u-text-white u-text-3">
            <a class="blog-link" href="#">
              <span class="img-fluid"><img src="{{ post.author.profile_picture.url }}" alt="..." class="avatar"></span>
              {{ post.author.user.username }} | {{ post.timestamp|timesince }} ago
            </a>
            &nbsp;| view ({{ post.view_count }}) | comments ({{ post.comment_count }}) | 
            <a href="{% url 'post-update' id=post.id %}">Update</a> | <a href="{% url 'post-delete' id=post.id %}">Delete</a>
          </p>
          <p class="u-text u-text-grey-40 u-text-4">
            {{ post.content | safe }}
          </p>
          <div class="u-border-1 u-border-grey-75 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="u-black u-clearfix u-section-3" id="sec-2d05">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-black u-container-style u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
          <h4 class="u-text u-text-default u-text-1">Post comments ({{ post.comments.count }})</h4>
          <br>
          {% for comment in post.get_comments %}

          <h6 class="u-align-left u-res-move-started u-text u-text-white u-text-2">
            {% if comment.user.author %}
            <span class="img-fluid"><img src="{{ post.author.profile_picture.url }}" alt="..." class="avatar"></span>
            {% else %}
            <span class="img-fluid"><img src="{% static 'images/user.svg' %}" alt="..." class="avatar"></span>
            {% endif %}
            {{ comment.user.username }} | {{ comment.timestamp|timesince }} ago
          </h6>
          <h6 class="u-align-right u-text u-text-white u-text-3">reply</h6>
          <br>
          <p class="u-align-left u-text u-text-grey-40 u-text-4">{{ comment.content }}</p>
          <br>

          {% endfor %}

          <!--
            <h6 class="u-text u-text-white u-text-5">
              <span class="img-fluid"><img src="{{ post.author.profile_picture.url }}" alt="..." class="avatar"></span>
              John Doe | May 2020
            </h6>
            <h6 class="u-text u-text-white u-text-6">reply</h6>
            <p class="u-text u-text-grey-40 u-text-7">Przykładowy tekst. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit nullam nunc justo sagittis suscipit ultrices. Przykładowy tekst. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>
            </p>
            -->
        </div>
      </div>
    </div>
  </section>


  <section class="u-align-center u-black u-clearfix u-section-4" id="sec-ba3b">
    {% if request.user.is_authenticated %}
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <h4 class="u-text u-text-default u-text-1">Leave a Comment</h4>
      <div class="u-form u-form-1">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form }}
          <button type="submit"
            class="save u-border-radius-10 u-btn u-btn-round u-btn-submit u-button-style u-palette-3-base u-btn-1">Prześlij</button>
        </form>
      </div>      
    </div>
    {% endif %}



    <section>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    {% if post.previous_post %}
                    <a href="{{ post.previous_post.get_absolute_url }}"
                      class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-palette-4-base u-btn-2"
                      data-animation-name="lightSpeedIn" data-animation-duration="2000" data-animation-delay="0"
                      data-animation-direction="">
                      &lt;&nbsp; previous article
                    </a>
                    {% endif %}
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    {% if post.next_post %}
                    <a href="{{ post.next_post.get_absolute_url }}"
                      class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-palette-4-base u-btn-3"
                      data-animation-name="lightSpeedIn" data-animation-duration="2000" data-animation-delay="0"
                      data-animation-direction="">
                      next article&nbsp; &gt;
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout u-valign-top u-container-layout-3">
                    {% if post.previous_post %}
                    <a href="{{ post.previous_post.get_absolute_url }}">
                      <h6 class="u-text u-text-default u-text-2" data-animation-name="lightSpeedIn"
                        data-animation-duration="2000" data-animation-delay="0" data-animation-direction="">
                        {{ post.previous_post.title }}
                      </h6>
                    </a>
                    {% endif %}
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    {% if post.next_post %}
                    <a href="{{ post.next_post.get_absolute_url }}">
                      <h6 class="u-text u-text-default u-text-3" data-animation-name="lightSpeedIn"
                        data-animation-duration="2000" data-animation-delay="0" data-animation-direction="">
                        {{ post.next_post.title }}
                      </h6>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>





  </section>


  {% include 'most-recent-blog-single.html' %}

  {% include 'search-blog-single.html' %}

  {% include 'footer.html' %}

  {% include 'backToTop.html' %}

  {% include 'scripts.html' %}


</body>

</html>